# Basic data structures in Python
This notebook describes the most basic data structures of Python, namely:
- Lists
- Tuples
- Sets
- Dictionaries  
  
It is based on this [Python tutorial](https://gitlab.erc.monash.edu.au/andrease/Python4Maths/-/tree/master/Intro-to-Python).

### Lists

#### Basics
Indexing with negative numbers to get last elements:

In [1]:
l = [0,1,2,3,4,5,6,7,8,9]
print(l[1], l[-1])

1 9

Elements of a list can be of different types:

In [2]:
["this is a valid list",2,3.6,(1+2j),["a","sublist"]]

['this is a valid list', 2, 3.6, (1+2j), ['a', 'sublist']]

Slicing: getting a sublist of a list

In [3]:
print (l[2:5])
print (l[2:9:3]) # with step 3

[2, 3, 4]
[2, 5, 8]

The `a in b` concept: check if a given element is in the list

In [4]:
print (1 in l, 10 in l)

True False

Mapping values of a list to variables:

In [47]:
m = [145, 'a', [0,1,2]]
a,b,c = m # there must be exactly as many variables as the length of the list, otherwise an error will occur
print(a)
print(b)
print(c)

145
a
[0, 1, 2]

List concatenation with `+` operator doesn't produce a nested list:

In [40]:
[0,1,2] + ['a', 'ab'] + [] + [6]

[0, 1, 2, 'a', 'ab', 6]

Concatenation of a list with itself `n` times with the `*` operator:

In [33]:
n = 3
['a','b','c'] * n

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

#### Some built-in functions

In [6]:
len(l)

10

In [7]:
print(max(l), min(l), sum(l))

9 0 45

Append an element to the end of a list:

In [9]:
l = [0,1,2,3,4,5,6,7,8,9]
l.append(10)
print(l)
l.append([11,12,13]) # will create a nested list, as opposed to the + operator
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13]]

Insert and retrieve an element at a specified index:

In [12]:
l = [0,1,2,3,4,5,6,7,8,9]
index = 5
element = 4.12
l.insert(index, element)
print(l)
print(l[index])

[0, 1, 2, 3, 4, 4.12, 5, 6, 7, 8, 9]
4.12

Number of times an element has occurred in a list:

In [15]:
element = 2
[1,2,4,2,2,1,2].count(element)

3

Find the first occurrence of an element:

In [17]:
element = 2
[1,2,4,2,2,1,2].index(element)

1

#### Copying a list
Shallow copy:

In [23]:
m = l[:]
m = list(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Deep copy:

In [25]:
import copy
m = copy.deepcopy(l)

#### List comprehension: shorthand for generating elements of a list in a loop
Example: generate a list like a function on natural numbers.

In [35]:
# Generate a function y = x ** 2 for natural x's
l1 = [i ** 2 for i in [0,1,2,3,4]]
# Using a range of int values:
l2 = [i ** 2 for i in range(5)] # i = 0..4
print (l1, l2)

[0, 1, 4, 9, 16] [0, 1, 4, 9, 16]

In [36]:
# A function of several variables:
[i ** 2 + j for i in range(5) for j in range(2)]

[0, 1, 1, 2, 4, 5, 9, 10, 16, 17]

### Tuples: basically immutable lists

In [52]:
t = (0,1,2)
print(t)

l = [0,1,2]
t = tuple(l)
print(t)
# t[0] = 3 # will produce an error

(0, 1, 2)

### Sets: lists without repeated elements

#### Basics

In [55]:
s = set()
s.add(1)
s.add(0)
s.add(1)
print(s)

{0, 1}

In [66]:
# s = set(0,1,1,1,2) # not allowed
s = set([0,1,1,1,2])
print(s)

{0, 1, 2}

Be advised that `{0, 1, 2}` is a set, but `{}` is __not__ actually a set, but a dictionary!

In [62]:
type({0,1,2})

set

In [63]:
type({})

dict

#### Set operations

In [68]:
A = set([0,1,2,3])
B = set([2,3,4,5])

$ A \cup B: $

In [69]:
A.union(B)

{0, 1, 2, 3, 4, 5}

$ A \cap B: $

In [71]:
A.intersection(B)

{2, 3}

$ A \setminus B $

In [72]:
A.difference(B)

{0, 1}

Symmetric difference: $ A \ominus B = (A \setminus B) \cup (B \setminus A)$

In [73]:
A.symmetric_difference(B)

{0, 1, 4, 5}

### Dictionaries
Dictionaries are like maps in Java. They store `{key : value}` pairs.\
\
The key must be immutable (for example, tuples can be keys but lists cannot). However, arbitrary objects can be used as keys, but in this case their _reference address_, not the object itself, is a key.\
\
The ordering of pairs inside of a list can be arbitrary - like in Java's `HashMap`.

In [104]:
d = dict()
d['key'] = 'value'
d[1] = 'a'
d[2] = 'b'
print(d)
print(d['key'])
print(d[1])

{'key': 'value', 1: 'a', 2: 'b'}
value
a

#### Initialize a dictionary from a list of keys and a list of values using the `zip()` function:

In [112]:
alphabet = list('abcdefg') # values
numbers = list(range(1,28)) # keys
d = dict((numbers, alphabet) for numbers, alphabet in zip(numbers, alphabet))
print(d)
print(d.keys()) # is an iterable
print(d.values()) # is an iterable
# Note that there are more keys than values in this example.
# print(d[10]) # Thus, this will produce a KeyError.

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}
dict_keys([1, 2, 3, 4, 5, 6, 7])
dict_values(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

#### Comprehension: shorthand for generating key-value pairs in a loop
Example: map strings to their respective lengths

In [115]:
words = ['One', 'Two', 'Three', 'Four', 'Five', 'Six']
d = {word : len(word) for word in words if word != 'Four'}
print(d)

{'One': 3, 'Two': 3, 'Three': 5, 'Five': 4, 'Six': 3}