# Basics of Python
This notebook contains some basic functionality of Python that doesn't seem trivial to me after programming in Java.\
It is based on this [Python tutorial](https://gitlab.erc.monash.edu.au/andrease/Python4Maths/-/tree/master/Intro-to-Python).

### Division
`int / int = float`, not `int`. `//` is `div` AKA float division, `%` is `mod`.

In [1]:
print(15 / 10, 15 / 10.0, 15.0 // 10.0, 15 % 10)

1.5 1.5 1.0 5

### Number system conversions
Conversion dec -> hex, oct, bin:

In [2]:
print(hex(145), oct(145), bin(145))

0x91 0o221 0b10010001

Conversion any base -> dec, string -> dec.
The number to convert must be a string!

In [3]:
number_to_convert_as_string = '11' # also works with hex, oct, bin numbers
base = 5
print(int(number_to_convert_as_string, base))

6

### Char conversion

In [4]:
int_to_char = 98
print(chr(int_to_char))
char_to_int = 'b'
print(ord(char_to_int))

b
98

### Range of int values as a list can be used for for-in loops
(In-depth discussion of lists in [data_structures.ipynb](./data_structures.ipynb))

In [5]:
lo = 3
hi = 14
step = 5
for i in range(lo, hi):
    print(i, end=' ') # ' ' specified as a delimiter, otherwise a newline would be printed after each number
print()
for i in range(lo, hi, step):
    print(i, end=' ')

3 4 5 6 7 8 9 10 11 12 13
3 8 13

### Accepting user input
Accepting a string:

In [6]:
input_as_string = input('Type something here \t')
print('Your input was: ', input_as_string)

Type something here 	qwerty
Your input was:  qwerty

Unsafely accepting a number (produces a ValueError if the input can't be converted to float):

In [7]:
input_as_float = float(input('Type your number here \t'))
print('Your input was: ', input_as_float)

Type your number here 	qwerty

ValueError: could not convert string to float: 'qwerty'

Safely accepting a number with exception handling:

In [8]:
while True:
    try:
        input_as_float = float(input('Type your number here \t'))
        print('Your input was: ', input_as_float)
        break
    except ValueError:
        print('Couldn\'t recognize your input!')

Type your number here 	qwerty
Couldn't recognize your input!
Type your number here 	3.14
Your input was:  3.14

### Strings
#### Substrings

In [9]:
s = '0123456789'
print(s[5:8]) # characters 5..7
print(s[4:]) # characters starting with 4th
print(s[-6:]) # last 6 characters

567
456789
456789

#### Partitioning

In [10]:
print ('1 - 2 - 3 - 4 - 5'.partition('- '))

('1 ', '- ', '2 - 3 - 4 - 5')

#### Formatting
Similar to formatting in Java's `System.out.printf()` and `String.format()` functions:
- `%s -> string`
- `%d -> integer (dec)`
- `%o -> oct`
- `%x -> hex`
- `%f -> float`
- `%e -> exponential`

In [11]:
word = 'This number in'
n = 145
print('%s dec: %d, hex: %x, oct: %o, float: %f, exponential: %e' % (word, n, n, n, n, n))

This number in dec: 145, hex: 91, oct: 221, float: 145.000000, exponential: 1.450000e+02